.navbar{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
}
.navbar .logo{
    width: 150px;
}
.nav-icon {
    width: 35px;
    height: 35px;
    color: #49557e; 
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon:hover{
    color: #ff6347;
}
.navbar .active .nav-icon{
    color: #ff6347;
    border-bottom: 2px solid #ff6347;
    box-sizing: border-box;
}
.navbar  .nav-item{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}
.navbar .nav-item .nav-link{
    text-decoration: none;
   color: inherit;
}

.navbar .navbar-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    min-width: 180px; /* Fixed width to prevent shifting */
} 

.navbar .basket-icon img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.link-item{
    color: inherit;
    text-decoration: none;
}
.profile-dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    display: none;
}
.profile-dropdown p{
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
}
.profile-dropdown p:hover{
    color: #ff6347;
}
.profile-link{
    position: relative;
}
.profile-link:hover .profile-dropdown{
    display: block;
}
.logout-button{
    background-color: #49557e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    border: 2px solid #49557e;
    border: none;
    outline: none;
}
.logout-button:hover{
    background-color: #ff6347;
    border: none;
    outline: none;
}
.profile-dropdown-item{
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    color: #49557e;
}
.profile-dropdown-item:hover{
    color: #ff6347;
}